<mat-card class="reset-password-card">
  <mat-card-header>
    <mat-card-title>Ustaw nowe hasło</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Nowe hasło</mat-label>
        <input
          matInput
          [type]="hidePassword() ? 'password' : 'text'"
          formControlName="password"
          required
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hidePassword.set(!hidePassword())"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePassword()"
        >
          <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        @if (resetForm.get('password')?.touched) {
          @if (resetForm.get('password')?.hasError('required')) {
            <mat-error>Hasło jest wymagane</mat-error>
          }
          @if (resetForm.get('password')?.hasError('minlength')) {
            <mat-error>Hasło musi mieć minimum 8 znaków</mat-error>
          }
          @if (resetForm.get('password')?.hasError('pattern')) {
            <mat-error>Hasło musi zawierać małą i wielką literę oraz cyfrę</mat-error>
          }
        }
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Potwierdź hasło</mat-label>
        <input
          matInput
          [type]="hideConfirmPassword() ? 'password' : 'text'"
          formControlName="confirmPassword"
          required
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hideConfirmPassword.set(!hideConfirmPassword())"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hideConfirmPassword()"
        >
          <mat-icon>{{ hideConfirmPassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        @if (resetForm.get('confirmPassword')?.touched) {
          @if (resetForm.get('confirmPassword')?.hasError('required')) {
            <mat-error>Potwierdzenie hasła jest wymagane</mat-error>
          }
          @if (resetForm.hasError('mismatch')) {
            <mat-error>Hasła nie są identyczne</mat-error>
          }
        }
      </mat-form-field>

      <div class="actions">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="resetForm.invalid || loading()"
        >
          @if (loading()) {
            Zapisywanie...
          } @else {
            Zapisz nowe hasło
          }
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
