:host {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 10vh 16px 16px;
}

.reset-password-card {
  max-width: 400px;
  width: 100%;
}

mat-card-header {
  margin-bottom: 24px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

mat-form-field {
  width: 100%;
}

.actions {
  margin-top: 16px;
  
  button {
    width: 100%;
  }
} 