<!-- Basic Material List -->
<!-- For more complex lists, consider using MatSelectionList or custom item templates -->
<mat-list [attr.dense]="dense() ? '' : null" role="list">
  <ng-container *ngIf="items() && itemTemplate; else projectedContent">
    <mat-list-item *ngFor="let item of items(); let i = index" role="listitem">
      <!-- Render the provided template for each item -->
      <ng-container
        *ngTemplateOutlet="itemTemplate; context: { $implicit: item, index: i }"
      ></ng-container>
    </mat-list-item>
  </ng-container>

  <!-- Allows projecting static list items -->
  <ng-template #projectedContent>
    <ng-content></ng-content>
  </ng-template>
</mat-list>
