<!-- Basic Material List -->
<!-- For more complex lists, consider using MatSelectionList or custom item templates -->
<mat-list [attr.dense]="dense() ? '' : null" role="list">
  @if (items() && itemTemplate) {
    @for (item of items(); track item; let i = $index) {
      <mat-list-item role="listitem">
        <!-- Render the provided template for each item -->
        <ng-container
          [ngTemplateOutlet]="itemTemplate"
          [ngTemplateOutletContext]="{ $implicit: item, index: i }"
        ></ng-container>
      </mat-list-item>
    }
  } @else {
    <!-- Allows projecting static list items -->
    <ng-content></ng-content>
  }
</mat-list>
