<main class="main-container">
  <div class="content-wrapper">
    <div class="page-header">
      <div class="header-content">
        <h2 class="page-title">Kategorie</h2>
      </div>
    </div>

    @if (categories$ | async; as categories) {
      <mat-card>
        <mat-card-content>
          <mat-list>
            @for (category of categories; track category.id) {
              <mat-list-item>
                <app-category-icon
                  matListItemIcon
                  [categoryName]="category.name"
                ></app-category-icon>
                <span matListItemTitle>{{ category.name }}</span>
              </mat-list-item>
              @if (!$last) {
                <mat-divider></mat-divider>
              }
            }
          </mat-list>
        </mat-card-content>
      </mat-card>
    } @else {
      <div class="loading-container">
        <mat-spinner diameter="40"></mat-spinner>
      </div>
    }
  </div>
</main>
