<mat-form-field [appearance]="appearance()" [color]="color()">
  <mat-label>{{ label() }}</mat-label>
  <input
    matInput
    [type]="type()"
    [placeholder]="placeholder()"
    [formControl]="control()"
    [required]="required()"
    [readonly]="readonly()"
  />
  @if (hint()) {
    <mat-hint>{{ hint() }}</mat-hint>
  }
  @if (control().invalid && (control().dirty || control().touched)) {
    <mat-error>
      @if (control().errors?.['required']) {
        {{ label() }} jest wymagane.
      }
      @if (control().errors?.['email']) {
        Nieprawidłowy format adresu email.
      }
    </mat-error>
  }
</mat-form-field>
