<mat-list-item role="listitem">
  <div class="list-item-content">
    <div class="list-item-text">
      <span class="list-item-title">{{ list().name }}</span>
      <span class="list-item-date"
        >Utworzono: {{ list().created_at | date: 'dd.MM.yyyy HH:mm' }}</span
      >
    </div>
    <div class="list-item-actions">
      <button
        mat-icon-button
        color="primary"
        [matTooltip]="'Generuj listę z przepisu'"
        [attr.aria-label]="'Generuj listę z przepisu'"
        tabindex="0"
        (click)="onGenerate($event)"
      >
        <mat-icon>restaurant_menu</mat-icon>
      </button>
      <button
        mat-icon-button
        color="warn"
        [matTooltip]="'Usuń listę'"
        [attr.aria-label]="'Usuń listę'"
        tabindex="0"
        (click)="onDelete($event)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</mat-list-item>
