<mat-list-item role="listitem" [attr.data-testid]="'shopping-list-item-' + list().id">
  <div class="list-item-content">
    <button
      class="list-item-text"
      (click)="openDetails()"
      (keyup.enter)="openDetails()"
      [attr.data-testid]="'shopping-list-details-link-' + list().id"
      [attr.aria-label]="'Otwórz szczegóły listy ' + list().name"
    >
      <span class="list-item-title">{{ list().name }}</span>
      <span class="list-item-date"
        >Utworzono: {{ list().created_at | date: 'dd.MM.yyyy HH:mm' }}</span
      >
    </button>
    <div class="list-item-actions">
      <button
        mat-icon-button
        color="primary"
        [matTooltip]="'Generuj listę z przepisu'"
        [attr.aria-label]="'Generuj listę z przepisu'"
        tabindex="0"
        (click)="onGenerate($event)"
      >
        <mat-icon>restaurant_menu</mat-icon>
      </button>
      <button
        mat-icon-button
        color="warn"
        [matTooltip]="'Usuń listę'"
        [attr.aria-label]="'Usuń listę'"
        tabindex="0"
        (click)="onDelete($event)"
        [attr.data-testid]="'delete-list-button-' + list().id"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</mat-list-item>
