:host {
  display: block;
  height: 100vh;
}

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 64px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);

  mat-icon {
    margin-right: 8px;
  }

  @media (max-width: 599px) {
    height: 56px;
  }
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;

  &-left, &-right {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .user-email {
    display: flex;
    align-items: center;
    gap: 4px;
    color: rgba(255, 255, 255, 0.9);
    
    mat-icon {
      font-size: 20px;
      height: 20px;
      width: 20px;
    }
  }
}

mat-sidenav-container {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  height: calc(100vh - 64px);

  @media (max-width: 959px) {
    top: 56px;
    height: calc(100vh - 56px);
  }
}

mat-sidenav {
  width: 250px;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  margin-top: 64px;
  height: calc(100% - 64px) !important;

  @media (max-width: 959px) {
    margin-top: 56px;
    height: calc(100% - 56px) !important;
  }
}

mat-sidenav-content {
  padding: 20px;
  width: 100%;
  
  @media (min-width: 1280px) {
    margin-left: 0 !important;
  }
  
  @media (max-width: 1279px) {
    margin-left: 0 !important;
    width: 100vw;
  }
}

.active {
  background: rgba(0, 0, 0, 0.04);
}

main {
  padding: 20px;
  height: calc(100% - 64px);
  box-sizing: border-box;
  overflow-y: auto;
} 